<!-- Navigation -->
<%- include('../layout/navbar'); %>
    <!-- Page Header -->
    <%- include('../layout/header'); %>

        <div class="container mt-3 mb-3">
            <div class="text-center">
                <h1>Menu</h1>
            </div>
            <div class="p-5">

                <a href="/post" class="btn btn-primary form-control mb-3">Add Post</a>
                <a href="/post-manage/1" class="btn btn-primary form-control mb-3">Manage Post</a>
                <a href="/images_header/1" class="btn btn-success form-control mb-3">Images Header</a>
                <a href="/images/1" class="btn btn-success form-control mb-3">Images</a>
                <a href="/videos/1" class="btn btn-warning form-control mb-3">Videos</a>

            </div>
        </div>


        <!-- Footer -->
        <%- include('../layout/footer'); %>