<%- include('layout/navbar'); %>

    <%- include('layout/header'); %>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="text-center">
                            <img src="/img/My Halal Space logo.png" width="300px" alt="" srcset="">
                        </div>

                        <h1>About My Halal Space</h1>
                        <p>Phuket is one of the best tourist destinations from all over the world. Known as the paradise on Earth, it is always filled with tourists from both within Thailand and abroad. Since the island’s main income is based on visitors,
                            everyone has to be served by the best hospitality. Some tourists require niche services and products based on their beliefs and ethnicity. Islamic people or Muslims are one of the largest groups of visitors that require niche
                            products, especially for daily consumption. Muslims are required to consume only Halal products, or in other words, lawful by religion. Since Thailand is a non-Muslim country, sometimes it may be hard for tourists to find or
                            ask about Halal food. Many do not know how to find a proper halal place to eat. Most non-Muslims and some Muslims in Phuket do not know clear enough about Halal to be able to serve Muslim customers. Adding all up together,
                            we decided to come up with a project that will help Muslim tourists when visiting Phuket. That is why we created myhalalspace.com to provide and guide Muslim tourists with deeper knowledge about halal food, methods to find
                            proper halal food stores, and suggest halal food stores that we have personally visited in Phuket, Thailand.</p>
                        <br>
                        <div class="text-center">
                            <img src="/img/Disclaimer_green.png" alt="" width="200px" srcset="">
                        </div>

                        <h1>Disclaimer</h1>
                        <ul>
                            <li>
                                <p>The Halal food stores on myhalalspace.com is based on The Central Islamic Council of Thailand (based on the Shafi’i school of thought).</p>
                            </li>
                            <li>
                                <p>The Halal food knowledge on myhalalspace.com is based on Trusted Islamic websites which are based on evidence from religious texts, and The Central Islamic Council of Thailand (based on the Shafi’i school of thought).</p>
                            </li>
                            <li>
                                <p>The Halal food stores visited and suggested by our website are checked purely by individuals from myhalalspace.com which is not related to the Halal Certification given by The Central Islamic Council of Thailand.</p>
                            </li>
                            <li>
                                <p>The Halal food stores visited and suggested by us are inspected by individuals from myhalalspace.com at the time of visit, therefore the stores may be subject to change later.</p>
                            </li>
                            <li>
                                <p>This website is a part of a project for Prince of Songkla University, Phuket campus.</p>
                            </li>
                        </ul>
                        <br>

                        <div class="text-center">
                            <img src="/img/About Author.JPG" alt="" width="300px" srcset="">
                        </div>
                        <h1>About Author</h1>
                        <p>
                            My name is RK and I am a born Muslim local to Phuket. My entire life, I have lived on this beautiful island seeing everything happening around me. Living and Growing up in a non-Muslim country, I always have to look out for Halal foods. For as long as
                            I can remember, I have been taught strictly about halal food before I even started school. My family used to be part of The Islamic Committee of Phuket, so I have been involved in most of the Halal activities when I was young.
                            From my personal experiences and observations, I have seen that the Halal knowledge in Phuket and Thailand as a whole, has developed quite less than what I expected, which results in non-fully Halal foods available for Muslims.
                            Therefore, I always have been very keen to do research and learn about the right Halal since I was in middle school so that one day, I can share the knowledge to improve the Halal industry in Phuket. Here I am now, learning
                            further about Halal and sharing as much as I can.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <%- include('layout/footer'); %>